*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Kaushan Script', cursive;
  font-family: 'Lato', sans-serif;
  // line-height: $line-height-base;
  // color: $color-primary;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
