@import '../../../../styles/variables.scss';
.product {
  padding-top: 150px;
}

.title {
  text-align: center;
  font-size: 40px;
  color: $color-primary;
}

.wrapper {
  :global {
    .swiper {
      margin-top: 80px;
    }
    .swiper-slide {
      width: 420px !important;
    }

    .swiper-pagination {
      position: relative;
      margin-top: 60px;
    }

    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      background-color: $color-primary;
    }

    .swiper-button-next {
      display: none;
    }

    .swiper-button-prev {
      display: none;
    }
  }
}

.link {
  text-decoration: none;
}

.product-container {
  position: relative;
  &:hover .information-wrapper {
    opacity: 0.8;
    z-index: 2;
  }
}

.image {
  width: 420px;
  height: 280px;
  border-radius: 10px;
}

.image-title {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  font-size: 30px;
  letter-spacing: 2px;
  color: $color-white;
  left: 20px;
}

.information-wrapper {
  transition: $transition-base;
  border-radius: 10px;
  opacity: 0;
  background-color: $color-black;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 420px;
  height: 280px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: $color-white;
}

.information {
  margin-top: 6px;
  line-height: 24px;
  font-size: 20px;
  color: $color-white;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.text {
  font-size: 20px;
  color: $color-white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.text-information {
  margin-top: 40px;
  font-size: 20px;
}
