.product {
  padding-top: 200px;
  padding-bottom: 200px;
}

.link {
  text-decoration: none;
}

.product-container {
  position: relative;
  &:hover .information-wrapper {
    opacity: 0.8;
    z-index: 2;
  }
}

.image {
  max-width: 100%;
  border-radius: 10px;
}

.image-title {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffff;
  left: 20px;
}

.information-wrapper {
  transition: 0.3s;
  border-radius: 10px;
  opacity: 0;
  background-color: black;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 420px;
  height: 280px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffff;
}

.information {
  margin-top: 6px;
  line-height: 24px;
  font-size: 20px;
  color: #ffff;
  margin-top: 10px;
}

.text {
  font-size: 20px;
  color: #ffff;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.wrapper {
  :global {
    .swiper-slide {
      width: 420px !important;
    }

    .swiper-pagination {
      position: relative;
      margin-top: 60px;
    }

    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      background-color: #3c2914;
    }

    .swiper-button-next {
      display: none;
    }

    .swiper-button-prev {
      display: none;
    }
  }
}
