@import '../../../styles/variables.scss';

.single-product {
  padding-top: 150px;
  @include lg-down {
    padding-top: 100px;
  }
}

.single-product-container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  flex-wrap: wrap;
  row-gap: 40px;

  @include lg-down {
  }
}

.wrapper {
  :global {
    .swiper {
      max-width: 1040px;
      @include lg-down {
        max-width: 767px;
        max-height: 600px;
      }
      &:nth-of-type(2) {
        max-width: 1040px;

        @include lg-down {
          max-width: 767px;
        }
        .swiper-wrapper {
          margin-top: 20px;
          // overflow: hidden;
          column-gap: 10px;
          max-height: 200px;
          justify-content: start;
          @include lg-down {
            column-gap: 20px;
          }
          .swiper-slide {
            display: flex;
            justify-content: center;
            max-width: 200px;
            .image {
              border-radius: 16px;
              width: 200px;
              height: 140px;
            }
          }
        }
      }
    }

    .swiper-slide-prev {
      opacity: 0;
    }
    .swiper-wrapper {
      max-height: 700px;
      align-items: center;
    }

    .swiper-slide-active {
      display: flex;
      justify-content: center;

      .image {
        border-radius: 16px;

        width: 1040px;
        height: 700px;
        @include lg-down {
          width: 767px;
          height: 500px;
        }
      }
    }

    .swiper-button-prev {
      color: $color-text;
    }

    .swiper-button-next {
      color: $color-text;
    }
  }
}

.product-wrapper {
  max-width: 368px;
  display: flex;
  flex-direction: column;
}

.title-place {
  color: $color-text;
  font-size: 26px;
  letter-spacing: 2px;
}

.container-date {
  margin-top: 15px;
}

.date {
  color: $color-text;
  font-size: 18px;
  margin-left: 40px;
  &:first-child {
    margin-left: 0px;
  }
}

.date-number {
  margin-left: 10px;
  font-weight: 600;
}

.price {
  display: block;
  color: $color-text;
  font-size: 18px;
  margin-top: 15px;
}

.price-number {
  font-weight: 600;
  font-size: 20px;
}

.button-buy {
  font-size: 20px;
  margin-top: 30px;
  color: $color-white;
  border-radius: 6px;
  padding: 15px 150px;
  background-color: $color-bronze;
  transition: $transition-base;
  border: 1px solid $color-bronze;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  &:hover {
    background: none;
    color: $color-bronze;
  }
  opacity: 0.5;
  pointer-events: none;
}

.button-active {
  opacity: 1;
  pointer-events: all;
}

.wrapper-payment-information {
  margin-top: 30px;
}

.checkbox-container {
  position: relative;
}

.payment-checkbox {
  transform: scale(2);
  top: 20px;
  position: absolute;
}

.checkbox-text {
  max-width: 300px;
  display: inline-block;
  line-height: 20px;
  margin-left: 50px;

  color: $color-text;
}

.payment-star {
  font-size: 24px;
  color: $color-red;
}

.payment-text {
  font-size: 16px;
  color: $color-text;
  text-align: justify;
  line-height: 22px;
  margin-top: 20px;
}

.description {
  color: $color-text;
  margin-top: 50px;
  font-size: 20px;
  @include lg-down {
    text-align: center;
  }
}

.link {
  text-align: center;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: $color-white;
  border-radius: 6px;
  padding: 15px 20px;
  background-color: $color-bronze;
  transition: $transition-base;
  border: 1px solid $color-bronze;
  font-weight: 500;
  letter-spacing: 2px;
  &:hover {
    background: none;
    color: $color-bronze;
  }
  @include lg-down {
    margin-top: 60px;
  }
}
