.container-single-product {
  padding-top: 150px;
}
.product-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
}

.description {
}

.loading {
  padding-top: 300px;
}
