@import '../../../styles/variables.scss';

.wrapper-search {
  max-width: 630px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.search {
  color: $color-brown-white;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 26px;
  font-size: 16px;
  padding-right: 45px;
  border: 1px solid $color-brown-white;
  border-radius: 6px;
  width: 100%;
  transition: $transition-base;

  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: $color-brown;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
  }
}

.search-image {
  position: absolute;
  top: 15px;
  right: 24px;
}
