.wrapper-search {
  max-width: 630px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.search {
  color: #3c2914;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 26px;
  font-size: 16px;
  padding-right: 45px;
  border: 1px solid #3c2914;
  border-radius: 6px;
  width: 100%;
  transition: 0.3s;

  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: #3c2914;
    font-size: 14px;
    font-weight: 400;
  }
}

.search-image {
  position: absolute;
  top: 15px;
  right: 24px;
}
