@import '../../../styles/variables.scss';

.footer {
  margin-top: 80px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid $color-brown-white;
  padding-top: 40px;

  @include sm-down {
    margin-top: 50px;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 100px;

  @include sm-down {
    flex-direction: column;
    justify-content: center;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
}

.title {
  color: $color-brown-white;
  font-size: 25px;
  text-align: center;
}

.link {
  color: $color-brown-white;
  text-align: center;
  font-size: 18px;
  transition: $transition-base;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid $color-white;
  &:hover {
    border-bottom: 1px solid $color-hover;
  }
}

.icons {
  display: flex;
  row-gap: 10px;
  column-gap: 15px;
  align-items: center;
  margin-top: 20px;
  @include sm-down {
    justify-content: center;
  }
}
