@import '../../../styles/variables.scss';

.navigation {
  margin-top: 24px;
  padding-bottom: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 700;
  color: $color-text;
  line-height: 24px;
}

.active > .button {
  color: #996f3f;
}
